.product {
    display: flex;
    gap: 20px;
    align-items: center;

    & > .product-name {
        font-size: 20px;
    }

    & > .product-description {
        font-size: 15px;
    }

    & > .product-price {
        font-size: 20px;

        &::before {
            content: "£";
        }
    }
}

.error {
    background: red;
    color: #fff;

    &::before {
        content: "Error";
        font-weight: bold;
    }
}